@font-face {
  font-family: "Formular";
  src: url("/fonts/formular-black-trial.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-blackitalic-trial.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-bold-trial.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-bolditalic-trial.otf");
  font-weight: 750;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-bolditalic-trial.otf)");
  font-weight: 700;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-extralightitalic-trial.otf");
  font-weight: 650;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-light-trial.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-lightitalic-trial.otf");
  font-weight: 550;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-medium-trial.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-mediumitalic-trial.otf");
  font-weight: 450;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-mono-trial.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-regular-trial.otf)");
  font-weight: 350;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-regularitalic-trial.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-ultra-italic-trial.otf");
  font-weight: 250;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-ultra-trial.otf");
  font-weight: 200;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #E5E7EB;
  font-family: "Formular", sans-serif;
}

header {
  background-color: #F9FAFB;
  width: 100%;
}
header .wrapper {
  max-width: 1536px;
  margin: 0 auto;
}
header .header__img_1028 {
  display: none;
}
header .header__line_top {
  max-width: 1536px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}
header .header__line_top .header__line_top_1 {
  display: flex;
  align-items: center;
}
header .header__line_top .header__line_top_1 h1 {
  font-family: "Formular";
  font-weight: 900;
}
header .header__line_top .header__line_top_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 12px;
}
header .header__line_top .header__line_top_2 p {
  font-size: 16px;
  font-style: normal;
  font-family: "Formular", sans-serif;
  text-align: right;
  line-height: 20px;
}
header .header__line_top .header__line_top_2 .num {
  font-size: 36px;
  font-weight: 900;
  font-family: "Formular", sans-serif;
}
header .header__line_top .header__line_top_2 p1 {
  font-size: 24px;
  font-weight: lighter;
  font-family: "Formular", sans-serif;
}
header .header__line_top .header__line_top_2 .num__wrapper {
  flex-direction: column;
  text-align: right;
}
header .header__line_bot {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}
header .header__line_bot .header__line_bot_1 {
  display: flex;
  align-items: center;
}
header .header__line_bot .header__line_bot_1 .nav {
  display: flex;
  flex-direction: row;
  gap: 0 24px;
}
header .header__line_bot .header__line_bot_1 .nav .nav-item {
  text-decoration: none;
  color: #111827;
  font-size: 16px;
  font-weight: bold;
  font-family: "Formular", sans-serif;
}
header .header__line_bot .header__line_bot_1 .nav .nav-item:hover {
  color: #8B5CF6;
}
header .header__line_bot .header__line_bot_1 .nav .nav-item:focus {
  color: #8B5CF6;
  border-bottom: 2px dashed #8B5CF6;
}
header .header__line_bot .header__line_bot_2 {
  display: flex;
}
header .header__line_bot .header__line_bot_2 .header__btn {
  font-size: 16px;
  font-style: normal;
  font-family: "Formular", sans-serif;
  font-weight: bold;
  color: #F9FAFB;
  background-color: #8B5CF6;
  border: none;
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
}

.header__line_bot_3 {
  display: none;
}

.burger__icon {
  display: none;
}

@media (max-width: 1536px) {
  header .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
  header .header__line_top .header__line_top_2 .num {
    font-size: 30px;
    font-weight: 900;
    font-family: "Formular", sans-serif;
  }
  header .header__line_top .header__line_top_2 p1 {
    font-size: 20px;
    font-weight: lighter;
    font-family: "Formular", sans-serif;
  }
}
@media (max-width: 1024px) {
  header .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  header .header__line_top .header__line_top_2 .num {
    font-size: 24px;
    font-weight: 900;
    font-family: "Formular", sans-serif;
  }
  header .header__line_top .header__line_top_2 p1 {
    font-size: 16px;
    font-weight: lighter;
    font-family: "Formular", sans-serif;
  }
  header .header__text {
    display: none;
  }
  header .header__img {
    display: none;
  }
  header .header__img_1028 {
    display: block;
  }
  header .header__line_top {
    padding: 24px 0 0 0;
  }
  header .header__line_bot {
    padding: 12px 0 0 0;
  }
  header .header__line_bot_3 {
    display: flex;
    position: relative;
    padding-top: 16px;
    font-size: 14px;
    font-style: normal;
    font-family: "Formular", sans-serif;
    padding-bottom: 24px;
    color: #111827;
  }
  header .header__line_bot_3 .header__line_bot_text_1 {
    position: absolute;
    left: 32px;
    top: 4px;
  }
  header .header__line_bot_3 .header__line_bot_text_2 {
    position: absolute;
    left: 273px;
    top: 4px;
  }
  header .header__line_bot_3 .header__line_bot_text_3 {
    position: absolute;
    left: 513px;
    top: 14px;
  }
}
@media (max-width: 758px) {
  header .wrapper {
    max-width: 638px;
    margin: 0 auto;
  }
  header .header__img_1028 {
    display: none;
  }
  header .header__line_top {
    display: flex;
    align-items: center;
  }
  header .header__line_top .header__line_top_2 .num__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  header .header__line_top .num__text {
    display: none;
  }
  header .header__line_bot {
    display: none;
  }
  header .header__line_bot_3 {
    display: none;
  }
  header .burger__icon {
    display: block;
    padding-left: 16px;
  }
}