@font-face {
  font-family: "Formular";
  src: url("/fonts/formular-black-trial.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-blackitalic-trial.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-bold-trial.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-bolditalic-trial.otf");
  font-weight: 750;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-bolditalic-trial.otf)");
  font-weight: 700;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-extralightitalic-trial.otf");
  font-weight: 650;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-light-trial.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-lightitalic-trial.otf");
  font-weight: 550;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-medium-trial.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-mediumitalic-trial.otf");
  font-weight: 450;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-mono-trial.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-regular-trial.otf)");
  font-weight: 350;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-regularitalic-trial.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-ultra-italic-trial.otf");
  font-weight: 250;
}
@font-face {
  font-family: "Formular";
  src: url("/second__layout/fonts/formular-ultra-trial.otf");
  font-weight: 200;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #E5E7EB;
  font-family: "Formular", sans-serif;
}

.garantees__wrapper {
  max-width: 1536px;
  margin: 0 auto;
  padding-top: 72px;
}
.garantees__wrapper .garantees__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.garantees__wrapper .garantees__text h1 {
  font-size: 30px;
  font-weight: 900;
  font-family: "Formular", sans-serif;
}
.garantees__wrapper .garantees__text p1 {
  font-size: 16px;
  font-style: normal;
  font-family: "Formular", sans-serif;
  text-align: center;
}
.garantees__wrapper .garantees__items {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}
.garantees__wrapper .garantees__items .garantees__firstline {
  display: flex;
  justify-content: space-between;
}
.garantees__wrapper .garantees__items .garantees__firstline .garantees__item_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px 0;
  margin-top: -12px;
}
.garantees__wrapper .garantees__items .garantees__firstline .garantees__item_1 p {
  font-size: 18px;
  font-weight: 900;
  font-family: "Formular", sans-serif;
}
.garantees__wrapper .garantees__items .garantees__firstline .garantees__item_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px 0;
  margin-top: -12px;
}
.garantees__wrapper .garantees__items .garantees__firstline .garantees__item_2 p {
  font-size: 18px;
  font-weight: 900;
  font-family: "Formular", sans-serif;
}
.garantees__wrapper .garantees__items .garantees__secondline {
  display: flex;
  justify-content: space-between;
}
.garantees__wrapper .garantees__items .garantees__secondline .garantees__item_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px 0;
}
.garantees__wrapper .garantees__items .garantees__secondline .garantees__item_3 p {
  font-size: 18px;
  font-weight: 900;
  font-family: "Formular", sans-serif;
  text-align: center;
}
.garantees__wrapper .garantees__items .garantees__secondline .garantees__item_4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px 0;
}
.garantees__wrapper .garantees__items .garantees__secondline .garantees__item_4 p {
  font-size: 18px;
  font-weight: 900;
  font-family: "Formular", sans-serif;
  text-align: center;
}
.garantees__wrapper .garantees__text_758 {
  display: none;
}
.garantees__wrapper .btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
}
.garantees__wrapper .btn__container .garantees__btn {
  background-color: #8B5CF6;
  color: #F9FAFB;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 900;
  font-family: "Formular", sans-serif;
  padding: 16px 28px;
  cursor: pointer;
}

@media (max-width: 1536px) {
  .garantees__wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
  .garantees__wrapper .garantees__items {
    display: flex;
    flex-direction: column;
    padding: 24px 105px;
    gap: 24px 0;
  }
  .garantees__wrapper .garantees__text_758 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .garantees__wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .garantees__wrapper .garantees__items {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    gap: 24px 0;
  }
  .garantees__wrapper .garantees__text_758 {
    display: none;
  }
}
@media (max-width: 758px) {
  .garantees__wrapper {
    max-width: 640px;
    margin: 0 auto;
  }
  .garantees__wrapper .garantees__items {
    display: flex;
    flex-direction: column;
    padding: 24px 0 0 0;
    gap: 0 0;
  }
  .garantees__wrapper .garantees__items .garantees__firstline {
    display: flex;
    flex-direction: column;
  }
  .garantees__wrapper .garantees__items .garantees__firstline .garantees__item_1 {
    padding: 24px 0;
  }
  .garantees__wrapper .garantees__items .garantees__firstline .garantees__item_2 {
    padding: 24px 0;
  }
  .garantees__wrapper .garantees__items .garantees__secondline {
    display: flex;
    flex-direction: column;
  }
  .garantees__wrapper .garantees__items .garantees__secondline .garantees__item_3 {
    padding: 24px 0;
  }
  .garantees__wrapper .garantees__items .garantees__secondline .garantees__item_4 {
    padding: 24px 0 0 0;
  }
  .garantees__wrapper .garantees__text_758 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }
  .garantees__wrapper .garantees__text_758 h1 {
    font-size: 30px;
    font-weight: 900;
    font-family: "Formular", sans-serif;
  }
  .garantees__wrapper .garantees__text_758 p1 {
    font-size: 16px;
    font-style: normal;
    font-family: "Formular", sans-serif;
    text-align: center;
  }
  .garantees__wrapper .garantees__text {
    display: none;
  }
}